@{
    ViewBag.Title = "Home Page";
}
<h1>@Request.Cookies.Get("Username")</h1>
<div class="card-group">
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h4 class="card-title">Salary Budget/Month</h4>
            <h5 class="card-text">@ViewBag.total_salary</h5>
            <a href="/Salary/Index" class="btn btn-primary">Manage Salary</a>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h4 class="card-title">Players</h4>
            <h5 class="card-text">Defenders:@ViewBag.count_df</h5>
            <h5 class="card-text">CDM:@ViewBag.count_cdm</h5>
            <h5 class="card-text">Forwards:@ViewBag.count_forward</h5>
            <h5 class="card-text">GoalKeepers:@ViewBag.count_gk</h5>
            <h5 class="card-text">Total Players:@ViewBag.total</h5>
            <a href="/Player/PlayerList" class="btn btn-success">Manage Players</a>
        </div>
    </div>
</div>
